= Example id: name do |ex|
  = ex.Head do
    = ex.Title ui.class(name), tag: :h2, href: "##{name}"

  = ex.Body do
    = yield

  = ex.Source tag: :pre, class: "highlight" do
    - formatter = Rouge::Formatters::HTML.new
    - lexer     = Rouge::Lexers::Haml.new
    - source    = get_partial(partial).encode!
    = raw formatter.format(lexer.lex(source))
