= ui.field do |f|
  = f.label "Label"
  = f.input tag: :input, placeholder: "Input placeholder"
  = f.hint "Hint"

= ui.field do |f|
  = f.label "Label"
  = f.error "has an error"
  = f.input tag: :input, placeholder: "Input in error"
  = f.hint "Hint"
