= ui.table do |t|
  = t.head do
    = t.cell "Column"
    = t.cell "Another"

  = t.body do
    = t.row do
      = t.cell "A cell"
      = t.cell "Another cell"

    = t.row do
      = t.cell "Another row"
      = t.cell :shy, tag.span("Shy cell")
