= Page :slim do |page|
  = page.Body do
    - @articles.includes(:author).each do |article|
      = Article(tag: :article) do |a|
        = a.Title(tag: :h2) { p article }
        = a.Author(tag: :h3) do
          by #{p article.author}
        = a.Body { article.summary }

    %section
      = paginate @articles
      %p.center= page_entries_info objects

    = render "debug" if debug?
