= ui.page :slim do |page|
  = page.body do
    - @articles.includes(:author).each do |article|
      = ui.article(tag: :article) do |a|
        = a.title(tag: :h2) { p article }
        = a.author(tag: :h3) do
          by #{p article.author}
        = a.body { article.summary }

    %section
      = paginate @articles
      %p.center= page_entries_info objects

    = render "debug" if debug?
