- title   = title(@article)
- actions = link(@article).index
- p       = present(@article)

= ui.page :slim do |page|
  = page.body do
    %article
      %h1= title
      %h2= p.show :author
      = p.show :body
      = render "debug" if debug?
