- title   = title(@article)
- actions = link(@article).index
- p       = present(@article)

= Page :slim do |page|
  = page.Body do
    %article
      %h1= title
      %h2= p.show :author
      = p.show :body
      = render "debug" if debug?
