- title   = options.delete(:title)
- actions = options.delete(:actions)

= card.wrapper(*flags, **options) do
  = card.head do
    = card.title(tag: :h2) { title }
    = card.actions { safe_join([*actions]) }

  = yield
