- subtitle   = options.delete(:subtitle)
- title   = options.delete(:title)
- image   = options.delete(:image)
- actions = options.delete(:actions)

= card.wrapper(*flags, **options) do
  - if image
    = card.Image tag: :img, src: image.url

  = card.Head do
    = card.Title(tag: :h3) { title }
    = card.Subtitle(tag: :h4) { subtitle }
    = card.Actions { actions }

  = yield
