:ruby
  title ||= nil
  actions ||= nil

= page.wrapper *flags do
  = page.head do
    = ui.layout.context.menu(tag: :input, type: :checkbox)
    = page.title(title, tag: :h2)
    = page.actions(actions)

  = yield
