:ruby
  title  ||= nil
  actions||= nil
  tabs   ||= nil

= page.wrapper *flags do
  = page.Head do
    = ui.Layout.Menu
    = page.Title(title, tag: :h2)
    = page.Tabs(*tabs)
    = page.Actions(actions)

  = yield
