= Alert :success, "Success alert. #{Faker::Lorem.paragraph}"
= Alert :info,    "Info alert. #{Faker::Lorem.paragraph}"
= Alert :error,   "Error alert. #{Faker::Lorem.paragraph}"
= Alert :warning, "Warning alert. #{Faker::Lorem.sentence}"
