= Grid columns: 3 do
  = Card title: "1"
  = Card title: "2"
  = Card title: "3"
  = Card title: "4"

= Grid style: "grid-auto-columns: minmax(min-content, 2fr)" do
  = Card title: "1"
  = Card title: "2"
  = Card title: "3"
  = Card title: "4"
