- title = breadcrumbs(link(object).index, link(object), title("Edit #{model_name.human}"))

= ui.page title: do |page|
  = page.body do
    = render "alerts"
    = ui.card do |card|
      = render 'form', card:
    = render "debug" if debug?

  = page.aside do
    = ui.card :sticky do |card|
      = card.section ui(object).controls(edit: false)
      - if object.persisted?
        = card.section do
          =  ui(object).attributes :updated_at, :created_at, try: true

    = ui.card title: "Actions" do
      = render('actions')
