- title = breadcrumbs(link(object).index, link(object), title("Edit #{model_name.human}"))

= Page title: do |page|
  = page.Body do
    = render "alerts"
    = ui.Card do |card|
      = render 'form', card:
    = render "debug" if debug?

  = page.Aside do
    = Card :sticky do |card|
      = card.Section ui(object).controls(edit: false)
      - if object.persisted?
        = card.Section do
          =  ui(object).attributes :updated_at, :created_at, try: true

    = Card title: "Actions" do
      = render('actions')
