- title("Edit #{model_name.human}")
- title = breadcrumbs(link(object).index, link(object), "Edit")
- actions = ui(object).controls(edit: false)

= ui.page title:, actions: do |page|
  = page.left do
    = ui.card :sticky do |card|
      - if object.persisted?
        = card.section do
          =  ui(object).attributes :updated_at, :created_at, try: true

    = ui.card title: "Actions" do
      = render('actions')

  = page.body do
    = ui.card do |card|
      = render 'form', card:
    = render "debug" if debug?
