- title = title model_name.human(count: :all)
- actions = render "index_actions"
- body = render("index")

= ui.page title:, actions: do |page|
  -# = page.aside do
  -#   = render "filters"

  = page.body do
    = render "alerts"
    = body
    = render "debug" if debug?
