- title = title model_name.human(count: :all)
- actions = render "index_actions"
- body = render("index")
- filterable = policy(model.new).then { _1.attributes.filterable.any? or _1.permitted_scopes.any? }

= Page title:, actions: do |page|
  - if filterable
    = page.Aside do
      = render "filters"

  = page.Body do
    = render "alerts"
    = render "active_filters"
    = body
    = render "debug" if debug?

  = page.Foot do
    = yield :foot
