- title = title model_name.human(count: :all)
- actions = render "index_actions"
- body = render("index")

= Page title:, actions: do |page|
  -# = page.Aside do
  -#   = render "filters"

  = page.Body do
    = render "alerts"
    = body
    = render "debug" if debug?
