- if action.new?
  = render "popup" do
    = Card title: t(:new, scope: %i[helpers title], model: model_name.human), actions: Close { icon(:xmark_circle_solid) } do |card|
      = render "form", card:

- else # error during :create action
  = turbo_stream.replace(dom_id(object, :new)) do
    = render "form", card: ui.Card
