- title = breadcrumbs(link(model).index, title("New #{model_name.human}"))

= Page title: do |page|
  = page.Body do
    = render "alerts"
    = Card do |card|
      = render "form", card:
    = render "debug" if debug?
