- title = breadcrumbs(link(model).index, title("New #{model_name.human}"))

= ui.page title: do |page|
  = page.body do
    = render "alerts"
    = ui.card do |card|
      = render "form", card:
    = render "debug" if debug?
