- title = title("New #{model_name.human}")
- actions = link(model).index

= ui.page title:, actions: do |page|
  = page.body do
    = ui.card do |card|
      = render "form", card:
    = render "debug" if debug?
