- title   = breadcrumbs(link(object).index, title(object))
- summary = ui(object).attributes :updated_at, :created_at, try: true
- body    = render("show")

= turbo_stream_from(object)
= Page :full, title: do |page|
  = page.Aside do
    = yield :left

  = page.Body do
    = render "alerts"

    - if tab = params[:tab]
      -# - title tab.humanize
      -# = row bottom: true do
      -#   = page.head
      -#     %h1 object.try(:name).fmap {|name| "#{name}'s #{tab.humanize(capitalize: false)}" }.felse { tab.humanize }
      -#   = link "← Back to #{model_name.human}", link: path_super(object)
      -#
      -# = render "tab_#{tab}"
    - else
      = body
    = render "debug" if debug?

  = page.Aside do
    = Card :sticky do |card|
      = card.Section ui(object).controls
      = card.Section summary

    = Card title: "Actions" do |card|
      = render("actions", card:)

    = Card title: "Notes" do |card|
      = render("notes", card:)

    = yield :right
