- title   = breadcrumbs(link(object).index, title(object))
- actions = ui(object).controls
- summary = ui(object).attributes :updated_at, :created_at, try: true
- body    = render("show")

= ui.page :full, title:, actions: do |page|
  = page.left do
    = ui.card :sticky do
      = summary

    = ui.card title: "Actions" do |card|
      = render("actions", card:)

    = ui.card title: "Notes" do |card|
      = render("notes", card:)

    = yield :left

  = page.body do
    - if tab = params[:tab]
      -# - title tab.humanize
      -# = row bottom: true do
      -#   = page.head
      -#     %h1 object.try(:name).fmap {|name| "#{name}'s #{tab.humanize(capitalize: false)}" }.felse { tab.humanize }
      -#   = link "← Back to #{model_name.human}", link: path_super(object)
      -#
      -# = render "tab_#{tab}"
    - else
      = body
    = render "debug" if debug?

  = page.right do
    = yield :right
