= Layout do |l|
  = l.Sidebar do
    - title = t(:title, scope: [:application], default: Rails.application.name.titleize)
    %h2= link_to title, root_path
    = render "navigation"
  = l.Main { yield }
  = l.Footer     { render("footer") }
