= ui.layout do |layout|
  = layout.sidebar do
    %h2= t(:title, scope: [:application], default: Rails.application.name.titleize)
    = render "navigation"

  = layout.main       { yield }
  = layout.footer     { render("footer") }
