= Layout do |l|
  = l.Sidebar do
    %h2= t(:title, scope: [:application], default: Rails.application.name.titleize)
    = render "navigation"
  = l.Main { yield }
  = l.Footer     { render("footer") }
