- index   = options.delete(:index)   { false }
- show    = options.delete(:show)    { false }
- edit    = options.delete(:edit)    { true }
- destroy = options.delete(:destroy) { true }
- links   = link(object)

= Controls tag: :span, **options do |c|
  = c.Link links.index   if index
  = c.Link links.show    if show
  = c.Link links.edit    if edit
  = c.Link links.destroy if destroy
