- console if Rails.env.development?

= Card title: "Debug" do |card|
  = card.Section do
    = Field label: "Params" do
      = Code parsed_params.pretty_inspect

    = Field label: "Query" do
      = Code scope.to_sql

  = yield :debug
