- console if Rails.env.development?

= Card title: "Debug" do |card|
  = card.Section do
    = Field label: "Params" do
      = p parsed_params

    = Field label: "Query" do
      = p scope.to_sql, as: :code, lang: :sql

  = yield :debug
