= ui.card do |card|
  = filter_form_for objects do |f|
    = card.section do
      - if title = policy(objects).title_attribute
        = f.field "#{title}~", label: "Search"

    = card.foot do
      = f.submit "Filter", commit: false
