= Card :sticky do |card|
  = filter_form_for objects do |f|
    = card.Section do
      - f.remaining_attributes.each do |attr|
        = f.field attr

    = card.Foot do
      = f.submit "Filter", commit: false
