- remote ||= false
- title ||= nil

= form_with model: record, remote: do |f|
  = ui.card title: do |card|
    = card.section class: 'row' do
      - f.object.errors.full_messages.each do |message|
        = render "error", message:
      = render "fields", f:

    - if extra = ui.extra_fields(f:).presence
      = card.section class: "row" do
        = extra

    = card.section do
      = f.submit class: 'button button-primary', data: { disable_with: "Updating..." }
