- remote ||= false
- title ||= nil

= form_with model: record, remote: do |f|
  = ui.card title: do |card|
    - if (errors = render("errors", f:))
      = card.section { errors }

    = card.section do
      = render "fields", f:

    - if extra = render("extra_fields", f:).presence
      = card.section class: "row" do
        = extra

    = card.section do
      = f.submit class: ui_class(:button, :primary), data: { disable_with: "Updating..." }
