%title= yield :title

%meta{name: "viewport", content: "width=device-width,initial-scale=1"}
%meta{name: "apple-mobile-web-app-capable", content:"yes"}
%meta{name: "mobile-web-app-capable",       content:"yes"}
%meta{name: "turbo-prefetch",               content: "true"}
%meta{name: "turbo-refresh-method",         content: "morph"}
%meta{name: "turbo-refresh-scroll",         content: "preserve"}
%meta{name: "view-transition",              content: "same-origin"}
= csrf_meta_tags
= csp_meta_tag

= yield :head

= stylesheet_link_tag "cafe_car", "data-turbo-track": "dynamic"
= stylesheet_link_tag "application", "data-turbo-track": "dynamic"
= javascript_importmap_tags
