.IndexToolbar
  = render "search"
  - if view.to_s == "table" && bulk_actions?
    = render "bulk_actions"

= render(view).presence or render("empty")

.center
  = page_entries_info objects
  - if filtered?
    matching your filters. #{link(model).index "View all"}

= paginate objects
