= Group do
  = Button href: view_url(:grid), title: "Grid View" do
    = icon(:view_grid)
  = Button href: view_url(:table), title: "Table View" do
    = icon(:table_rows)

= link(model).new(class: ui.Button(:primary).class_name) { icon(:plus) + _1}
