.IndexToolbar
  - if view.to_s == "table" && bulk_actions?
    = render "bulk_actions"

= render(view).presence or render("empty")

.center
  = page_entries_info objects
  - if filtered?
    = t(:matching, scope: %i[helpers filter])
    = link(model).index t(:view_all, scope: %i[helpers filter])

= paginate objects
