= Navigation tag: :nav do |nav|
  = render "navigation_links", nav:

  - if try(:authenticated?)
    = nav.Link(:bottom, href: try(:session_path)) { p(current_session) }
  - elsif href = try(:new_session_path)
    = nav.Link(:bottom, href:) do
      = Icon t(:new_session, scope: "navigation.icon").to_sym
      Sign In
