- return unless object.respond_to? :notes
- href_for(:notes) rescue return

- ui(object.notes).each do |note|
  = card.Section :block do
    %small.shy.right= note.controls
    = note.show :body
    — #{note.show :author}

= render "form", object: object.notes.new, card:
