= form_with url: "", method: :get, class: "search" do |f|
  - dot_params.each do |key, value|
    = hidden_field_tag key, value
  = hidden_field_tag :sort, params[:sort] if params[:sort].present?
  = f.search_field :q, value: search_term, placeholder: t(:search, scope: :helpers, default: "Search")
  = f.button "Search", name: nil
