- title = title("Edit #{model_name.human}")
- actions = ui(object).controls(index: true)

= ui.page title:, actions: do |page|
  = page.left do
    - title = "#{model_name.singular.titleize} ##{record.id}"

    = ui.card :sticky, title: do |card|
      - if object.persisted?
        = card.section do
          =  ui(record).attributes :updated_at, :created_at, try: true

      = ui.card title: "Actions" do
        = render('actions')

  = page.body do
    = render 'form'
