- title = title model_name.human(count: :all)
- actions = render "index_actions"
- body = render("index")

= ui.page :wide, title:, actions: do |page|
  = page.left do
    = render "filters"
    = render "debug" if debug?

  = page.body { body }
