= ui.page do |page|
  = page.head do
    %h1= title "New #{model_name.human}"

  = page.left do
    = ui.card do |card|
      - begin
        %p= link_to "← All #{model_name.human.pluralize}", [model]
      - rescue
      %p Creating new #{model_name.human}

  = page.body do
    = render "form", title: "New #{model_name.human}"
