= ui.page title: "New #{model_name.human}" do |page|
  -# = page.head do
  -#   = page.title title("New #{model_name.human}")

  = page.left :head do
    - begin
      %p= link_to "← All #{model_name.human(count: :all)}", [model]
    - rescue

  = page.body do
    = render "form"
