- title   = title(object)
- actions = ui(object).controls(index: true)
- body    = render("show")

= ui.page :full, title:, actions: do |page|
  = page.left do
    - title = "#{model_name.singular.titleize} ##{object.id}"

    = ui.card :sticky, title: do |card|
      = card.section do
        =  ui(object).attributes :updated_at, :created_at, try: true

    = ui.card title: "Actions" do
      = render("actions")

    = render "debug" if debug?
    = yield :left

  = page.body do
    - if tab = params[:tab]
      -# - title tab.humanize
      -# = row bottom: true do
      -#   = page.head
      -#     %h1 object.try(:name).fmap {|name| "#{name}'s #{tab.humanize(capitalize: false)}" }.felse { tab.humanize }
      -#   = link "← Back to #{model_name.human}", link: path_super(object)
      -#
      -# = render "tab_#{tab}"
    - else
      = body

  = page.right { yield :right }
