!!!
%html
  %head
    %title= @title
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "cafe_car", "data-turbo-track": "reload"
    = javascript_importmap_tags "cafe_car"
    -# = javascript_include_tag "cafe_car", type: :module
    = yield(:head)

  %body
    = render "nav"
    = yield
